In [1]:
x = 5

In [3]:
type(x)

int

In [4]:
x.__class__.__name__

'int'

In [6]:
10. ** 1000

OverflowError: (34, 'Result too large')

In [8]:
5.

5.0

In [10]:
.5

0.5

In [37]:
row = "hello world"

In [22]:
print("hello \n\tworld")

hello
	world

In [44]:
r = row.split()

In [48]:
r

['hello', 'world']

In [64]:
e = " ".join(r)

In [71]:
e[2:6:3]

'l '

In [73]:
e[10:4:-1]

'dlrow '

In [74]:
"hell" > "paradise"

False

In [89]:
"paradise" > "hell"

True

In [76]:
ord('h')

104

In [87]:
ord('p')

112

In [77]:
chr(104)

'h'

In [86]:
chr(104)

'h'

In [90]:
ord('a')

97

In [91]:
ord('b')

98

In [98]:
"aba" < 'bab'

True

In [99]:
"bab" < 'cada'

True

In [100]:
"hell" in "hello world"

True

In [103]:
"hll" in "hello world"

False

In [105]:
11 in [1, 2, 3, 4, 5]

False

In [108]:
"hell" == "hell"

True

In [109]:
"hello" != "hello"

False

In [110]:
23 > 34

False

In [111]:
43 < 56

True

In [112]:
34 >= 45

False

In [113]:
34 <= 45

True

***

In [115]:
type(True)

bool

In [116]:
True and True

True

In [117]:
True or False

True

In [118]:
True and False

False

In [121]:
False or False

False

In [122]:
not True

False

In [123]:
not False

True

In [124]:
True and not False

True

In [125]:
not True or False

False

In [126]:
not True and True

False

In [127]:
not (False or True)

False

In [131]:
bool(0)

False

In [133]:
bool(0.000001)

True

In [134]:
bool(0.0)

False

In [139]:
bool([[]])

True

In [140]:
bool('')

False

In [141]:
bool('0')

True

In [142]:
bool(int('0'))

False

In [143]:
bool(str(0))

True

***

In [184]:
x = 257
y = 257

In [187]:
x is y

False

In [188]:
x == y

True

***

In [196]:
user = "Bogdan"
name = "Bogdan"

In [197]:
user is name

True

In [198]:
user == name

True

***

In [199]:
2 ** 32

4294967296

In [200]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [205]:
type(this)

module

In [201]:
love = this

In [202]:
this is love

True

In [203]:
love is True

False

In [204]:
love is False

False

In [206]:
love is not True

True

In [207]:
love is not False

True

In [208]:
love is love

True

***

hello
===
>world

In [213]:
ll = [1, 2, 3, 4]
rr = ll

In [214]:
ll is rr

True

In [216]:
ll[0] = 11

In [217]:
rr

[11, 2, 3, 4]

***

In [226]:
ll = [1, 2, 3, 4]
rr = ll.copy()

In [227]:
ll is rr

False

In [228]:
ll[0] = 11

In [229]:
rr

[1, 2, 3, 4]

***

In [231]:
ll = [1, 2, 3, 4, [6, 7, 8]]
rr = ll.copy()

In [233]:
ll[-1][0] = 66

In [234]:
rr

[1, 2, 3, 4, [66, 7, 8]]

***

In [235]:
from copy import deepcopy

In [236]:
ll = [1, 2, 3, 4, [6, 7, 8]]
rr = deepcopy(ll)

In [237]:
ll[-1][0] = 66

In [238]:
rr

[1, 2, 3, 4, [6, 7, 8]]

***

In [ ]:
bool str int float list tuple

In [239]:
mytuple = (1,2,3,4)

In [241]:
type(mytuple)

tuple

In [246]:
mytuple[0] = 11

TypeError: 'tuple' object does not support item assignment

In [247]:
(1,2,3)

(1, 2, 3)

In [249]:
(2,)

(2,)

In [250]:
mytuple = (1,2.5,"hello", (45,56), [3,4,5])

In [255]:
mytuple[4][0] = 33

In [256]:
mytuple

(1, 2.5, 'hello', (45, 56), [33, 4, 5])

***

In [257]:
set

set

In [258]:
s1 = {1,2,3,3,3,3,3,3,3,3,4,4,4,4,4,4}
s2 = {3,3,3,4,4,4,5,5,5,5,6,6,6,6}

In [259]:
s1

{1, 2, 3, 4}

In [260]:
s2

{3, 4, 5, 6}

In [262]:
s1[0]

TypeError: 'set' object does not support indexing

In [263]:
s1.add(0)

In [264]:
s1

{0, 1, 2, 3, 4}

In [265]:
s2

{3, 4, 5, 6}

In [266]:
s1.remove(0)

In [267]:
s1

{1, 2, 3, 4}

In [268]:
s2

{3, 4, 5, 6}

In [269]:
s1 & s2

{3, 4}

In [270]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [271]:
s1 ^ s2

{1, 2, 5, 6}

In [272]:
4 ^ 12

8

In [276]:
bin(12)

'0b1100'

In [275]:
bin(4)

'0b100'

In [277]:
bin(25)

'0b11001'

In [286]:
hex(31)

'0x1f'

In [273]:
4 | 12

12

In [274]:
4 & 12

4

***

In [289]:
mydic = {"mama":23435, "papa":34536}

In [290]:
mydic

{'mama': 23435, 'papa': 34536}

In [291]:
mydic['mama']

23435

In [292]:
mydic['papa']

34536

In [293]:
mydic['brat'] = 4564564

In [295]:
del mydic['mama']

In [296]:
mydic

{'papa': 34536, 'brat': 4564564}

In [297]:
mydic['mama']

KeyError: 'mama'

In [301]:
mydic.get('brat', "hello")

4564564

In [302]:
'mama' in mydic

False

In [303]:
'papa' in mydic

True

In [304]:
mydic.keys()

dict_keys(['papa', 'brat'])

In [305]:
mydic.values()

dict_values([34536, 4564564])

In [306]:
mydic.items()

dict_items([('papa', 34536), ('brat', 4564564)])

In [307]:
len(mydic)

2

In [309]:
mydic["1,2"] = "newvalue"

In [310]:
mydic

{'papa': 34536, 'brat': 4564564, '1,2': 'newvalue'}

***

In [311]:
fs1 = frozenset([1,1,1,2,2,32,3,3,4])
fs2 = frozenset([3,3,3,4,4,4,45,5,5,5,5,])

In [317]:
fs1 | fs2

frozenset({1, 2, 3, 4, 5, 32, 45})

***

int float str list tuple set frozenset bool dict

In [333]:
zp = True

if zp:
    print('go bar')
else:
    print('stay at home')
    print('hello')

go bar

In [335]:
zp = 100

if zp >= 100:
    print('go bar')
else:
    print('stay at home')

go bar

In [344]:
zp = 101

if 200 > zp > 100:
    print('go bar')
else:
    print('stay at home')

go bar

In [345]:
zp = 101

if 200 > zp and zp > 100:
    print('go bar')
else:
    print('stay at home')

go bar

In [352]:
x = input('enter the digit ')
x = int(x)

if x >= 0:
    print("x is positive")
else:
    print('x is negative')

enter the digit -8
x is negative

***

In [353]:
row

'hello world'

In [359]:
for i in row:
    print("hello", i)

hello h
hello e
hello l
hello l
hello o
hello
hello w
hello o
hello r
hello l
hello d

In [370]:
for i in range(10, 2, -2):  # start | stop | step
    print(i)

10
8
6
4

In [372]:
for _ in range(5):
    print('hello')

hello
hello
hello
hello
hello

In [378]:
ll = []

for i in range(-10, 10):
    if i >= 0:
        ll.append(i)

print('world')

world

In [379]:
a = 0
b = 1

for _ in range(8):
    c = a + b
    print(c)
    a = b
    b = c

1
2
3
5
8
13
21
34

In [380]:
ll = [0, 1]

for _ in range(8):
    ll.append(ll[-1] + ll[-2])
ll

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

найти все числа feb до 100
===

limit = input('enter the limit')

найти все просты чила до лимита

digit = input('enter the digit')

найти сувму цифр числа digit